{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                <h2 class="text-center mb-4">Enter a new password</h2>
                <form action="{% url "users:change_password" token=token %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="password" class="form-control"
                        name="password1"
                        placeholder="Enter a new password"
                        required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password2"
                        placeholder="Enter it again" required>
                    </div>

                    <button type="submit" class="btn btn-outline-success">Confirm</button>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock  %}