{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                <h3 class="text-center mb-4">Shopping cart</h3>
                <div class="container" id="cart-items-container">
                    <!-- Разметка корзины -->
                    {% include "includes/included_cart.html" %}
                    <!-- Закончилась разметка корзины -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}



{% comment %} {% if cart and not orders %}
<a class="btn btn-dark" href="{% url "create_order" %}">
    Оформить заказ
</a>
{% endif %} {% endcomment %}